body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: rgb(249, 221, 137);
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0 px 80 px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction:
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  color: green;
}

.gobutton {
padding: 10px 15px;
}
